@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Assign your Daily Task</h1>
    <p>Designed and Developed <a href="https://www.linkedin.com/in/kalai-selvan-lion-head-hunter-986937b2/">by KalaiSelvan(AvowsTech)</a>.</p>
</div>

